/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 2rem;
}


.jumbotron {
    background-image: url("HpLogo.jpg");
    background-color: #17234E;
    margin-bottom: 5;`enter code here`
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.displayValue {
  padding-left: 7px;
  padding-right: 7px;
  font-size: x-large;
}
footer p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.navbar-input-group input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navbar-input-group .btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}
form {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100px;
  height: 40px;

}
@media all and (orientation:portrait) {
  form {
    padding-top: 0px;
    padding-bottom: 0px;
    width: auto;
    height: 40px;
  }
}
